useDynLib(longclust, tchol_entry, tcholmeans_entry)

importFrom("graphics", "matplot", "par")
importFrom("stats", "kmeans", "printCoefmat")

export(longclustEM)

S3method(print, longclust)
S3method(plot, longclust)
S3method(summary, longclust)

